<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.hidi2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo012"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo012"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" /> -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_channel_id" /> -->
        <activity
            android:name="com.example.hp.hidi2.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hp.hidi2.Recover"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp.hidi2.Register"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp.hidi2.PostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme" />
        <activity
            android:name="com.example.hp.hidi2.VerifyOtp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp.hidi2.SelectName"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Accounts"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme" />
        <activity
            android:name="com.example.hp.hidi2.Arguments"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme"/>
        <activity
            android:name="com.example.hp.hidi2.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp.hidi2.StatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.example.hp.hidi2.MyJourneyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme"/>

        <receiver android:name="com.example.hp.hidi2.Incomingsms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.hp.hidi2.UnlockVisitors"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp.hidi2.SelectTags"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp.hidi2.PostActivityLocation"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme"/>
        <activity
            android:name="com.example.hp.hidi2.PostActivityTag"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme"/>
        <activity
            android:name="com.example.hp.hidi2.BlockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme"/>
        <activity
            android:name="com.example.hp.hidi2.SearchUser"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme" />
        <activity
            android:name="com.example.hp.hidi2.NewUserProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme" />
        <activity
            android:name="com.example.hp.hidi2.ChatList"
            android:launchMode="singleTop"
            android:theme="@style/AccountsTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp.hidi2.HidiListChat"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp.hidi2.SingleChat"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme" />
        <activity
            android:name="com.example.hp.hidi2.AddPeople"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp.hidi2.GroupDeclaration"
            android:screenOrientation="portrait" />
        <!-- <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/GOOGLE_API_KEY"/> -->
        <activity
            android:name="com.example.hp.hidi2.MyHidiesPosts"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme"/>
        <activity
            android:name="com.example.hp.hidi2.ShowUnlockedVisitors"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.hp.hidi2.ChatWindow"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme" />
        <activity
            android:name="com.example.hp.hidi2.RepliesOnComments"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme"/>

        <activity
            android:name="com.example.hp.hidi2.AreaSortActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme"/>

        <activity android:name="com.example.hp.hidi2.CreatePassword"
            android:screenOrientation="portrait"/>

        <service android:name="com.example.hp.hidi2.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.example.hp.hidi2.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.hp.hidi2.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity android:name="com.example.hp.hidi2.AllNotificationsView"
            android:screenOrientation="portrait"
            android:theme="@style/AccountsTheme"></activity>
    </application>

</manifest>